{% extends "common/base.html.twig" %}

{% block body %}
	<h3>Produits dans le panier
		<a href="{{ path('cart_empty') }}" class="btn btn-primary">Vider</a>
	</h3>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				<th scope="col">Price</th>
				<th scope="col">Amount</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for item in content %}
				<tr>
					<th class="align-middle" scope="row">
						<img class="img-thumbnail" width="70px" src="{{asset(item.product.img)}}" alt="image of: {{ item.product.name}}"> {{ item.product.name}}
					</th>
					<td class="align-middle"> {{item.product.text}}</td>
					<td class="align-middle"> {{item.product.price}}€</td>
					<td class="align-middle">
						<a href="{{ path('cart_remove', {'idProduct': item.product.id, 'amount': 1}) }}" class="btn btn-primary">-</a> {{item.amount}}
						<a href="{{ path('cart_add', {'idProduct': item.product.id, 'amount': 1}) }}" class="btn btn-primary">+</a>
					</td>
					<td class="align-middle">
						<a href="{{ path('cart_delete', {'idProduct': item.product.id}) }}" class="btn btn-primary">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<th scope="row">Total</th>
				<td>{{ total }}€</td>
				<td>
					{% if app.user %}
						<a href="{{path('cart_checkout', {'idUser': app.user.id }) }}" class="btn btn-primary">Checkout</a>
					{% else %}
						<a href="{{path('app_login')}}" class="btn btn-primary">Login to checkout</a>
					{% endif %}
				</td>
			</tr>
		</tfoot>
	</td>
</tr></tfoot></table>{% endblock %}
