{% extends "common/base.html.twig" %}
{% block title %}Command: {{ command.date ? command.date|date('Y-m-d H:i:s') : '' }}
{% endblock %}
{% block body %}

	<table class="table">
		<h2>Command:
		</h2>
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ command.id }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ command.date ? command.date|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ command.status }}</td>
			</tr>
		</tbody>
	</table>
	<h2>Products:
	</h2> {{ include('command_line/index.html.twig', {'commandlines': command_lines}) }}

{% endblock %}
