{{if nonav}} {{else}}
		{% extends "common/base.html.twig" %} {{endif}}
{% block body %}
	<h1>
		Command: {{ command.date ? command.date|date('Y-m-d H:i:s') : '' }}
	</h1>
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ command.id }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ command.date ? command.date|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ command.status }}</td>
			</tr>
			<tr>
				<th>Total</th>
				<td>{{ command.total }}€</td>
			</tr>
		</tbody>
	</table>
	<h2>Products:
	</h2> {{ include('command_line/index.html.twig', {'commandlines': command.commandlines}) }}

{% endblock %}
