{{ form_start(form) }}
<td></td>
<td>{{ form_row(form.name) }}</td>
<td>{{ form_row(form.category) }}</td>
<td>{{ form_row(form.img) }}</td>
<td>{{ form_row(form.text) }}</td>
<td>{{ form_row(form.price) }}</td>
<td class="text-center">
	<button class="btn btn-primary">{{ button_label|default('Add') }}</button>
</td> {{ form_end(form) }}
