{% extends 'common/base.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}
	<h1>Product index</h1>

	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Id</th>
				<th class="text-center">Name</th>
				<th class="text-center">Category</th>
				<th class="text-center">Img</th>
				<th class="text-center">Text</th>
				<th class="text-center">Price</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.id }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.category.name }}</td>
					<td>{{ product.img }}</td>
					<td>{{ product.text }}</td>
					<td>{{ product.price }}€</td>
					<td class="text-center">
						<a class="btn btn-light" href="{{ path('product_edit', {'id': product.id}) }}">
							<i class="bi bi-pencil-square"></i>Edit</a> {{include('product/_delete_form.html.twig',{'id': product.id})}}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}

		</tbody>
		<tfoot>
			<tr> {{ include('product/new.html.twig') }}</tr>
		</tfoot>
	</table>

{% endblock %}
