<!-- Navbar -->
<script src="{{ asset("js/navbar.js") }}"></script>
<nav
	class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- Container wrapper -->
	<div
		class="container-fluid">
		<!-- Toggle button -->
		<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Left links -->
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('home_page') }}"> {{ 'default.index.home'|trans}}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('shop_index') }}"> {{ 'default.index.shop'|trans}}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('contact_page') }}"> {{ 'default.index.contact'|trans}}
				</a>
			</li>
		</ul>
		<!-- Left links -->

		<!-- Right elements -->
		<div
			class="d-flex align-items-center">
			<!-- Cart icon -->
			<a class="text-reset me-3" href="#">
				<i class="bi bi-cart3"></i>
			</a>

			<!-- Language selection -->

			{# Languages #}
			{% for lang in supported_locales|split("|") %}
				{# Check if different from current language #}
				{% if lang != app.request.attributes.get('_locale') %}
					<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': lang})) }}">
						<img src="{{asset('img/locales/'~lang~'.png')}}" alt="{{lang}}">
					</a>
				{% endif %}
			{% endfor %}

			<!-- Search bar -->
			<form id="search-form" onsubmit="return processForm('{{path('search_page', {'_locale': app.request.attributes.get('_locale')})}}')">
				<input id="search-text" type="text" placeholder="{{ 'default.index.search'|trans }}" name="search">
				<button type="submit">
					<i class="bi bi-search"></i>
				</button> 
			</form>


		</div>
		<!-- Right elements -->
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
