{% extends "common/base.html.twig" %}
{% block body %}
	<h1>User index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Password</th>
				<th>Name</th>
				<th>Lastname</th>
				<th>
				{# TODO LOGOUT #}
					{# <a href="{{ path('', {'id': user.id}) }}"> #}
						<button type="button" class="btn btn-primary">Logout</button>
					{# </a> #}
				</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.password }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.lastname }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
